<% include partials/header %>

  <h1>Index page</h1>

  <%  blogs.forEach(function(blogs){  %>
    <div>
      <h2><%=blogs.name%></h2>
      <img src="<%=blogs.image%>" alt="">
      <span>
          <%=blogs.created%>
        </span>
      <p>
        <%=blogs.body%>
      </p>
    </div>
    <% }) %>

<% include partials/footer %>
